.nav{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav h1{
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
}

a{
    text-decoration: none;

}

.div{
    display: flex;
}